.navbar-color-principal {
    display: flex;
    background-color: black;

}

.principal-buttons {
    color: white;

}

.container {
    display: flex;
    /* or inline-flex */
}

.card{
    background-color: #FC5B00;
    border-radius: 2rem;

}

.font-padrao{
    // font-style: normal; //caso queira deixar alterar o estilo da fonte
    // font-size: 2.5em; //caso queira alterar o tamanho da fonte
    // font-family: "Times New Roman" //caso queira mudar o tipo de fonte
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.font-subtittle{
    // font-style: normal; //caso queira deixar alterar o estilo da fonte
    // font-size: 2.5em; //caso queira alterar o tamanho da fonte
    // font-family: "Times New Roman" //caso queira mudar o tipo de fonte
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    color: #FFFFFF;
}

.titulo-card{
    color: rgb(7, 14, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.card-text{
    font-size: 20px;
    color: black;
}

.imagem-custom {
    display: inline-block;
    position: relative;
  }

// #image {
//     width: 60em;
//     height: 60em;
//   }

 .texto {
    position: absolute;
    top: 190px;
    /* right: 20px; */
    font-size: 40px;
    color: white;
    padding-left: 150px;
  }
  
  .texto2 {
    // border-radius: 50%;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    // box-shadow: 1px 1px 10px;
  }


  .fotter-font{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
  }
// @media(max-width: 500px) {
//     .footer-principal {
//         // margin-top: auto;
//         // margin-bottom: auto;
//         // margin-left: auto;
//         // margin-right: auto;
//         display: flex;
//         padding-bottom: 70px;

//     }
//     .image-in-footet {
//         margin-top: 35px;
//         padding-left: auto;
//         padding-right: auto;
//     }
// }
// @media(min-width: 500px){
//     .footer-principal{
//         // margin-top: auto;
//         // margin-bottom: auto;
//         // margin-left: auto;
//         // margin-right: auto;
//         display: flex;

//         padding-bottom: 70px;

//     }
//     .image-in-footet {
//         margin-top: 35px;
//         margin-left: 50px;
//         margin-right: 50px;
//         padding-left: 20%;
//         padding-right: 100%;
//         border-radius: 10%;
//     }
//    }


//    @media(min-width: 450px){
//     .footer-principal{
//         // margin-top: auto;
//         // margin-bottom: auto;
//         // margin-left: auto;
//         // margin-right: auto;
//         // display: flex;
//         padding-top: 10px;
//         padding-bottom: 70px;

//     }
//     .image-in-footet {
//         // margin-top: 35px;
//         // margin-left: 5px;
//         // margin-right: 5px;
//         // padding-left: 13%;
//         // padding-right: 15%;
//         // border-radius: 10%;
//         // position: static;
//         width: 100%;
//         // bottom: 30px;

//     }
//    }
.footer-principal{
            // margin-top: auto;
            // margin-bottom: auto;
            // margin-left: auto;
            // margin-right: auto;
            // display: flex;
            padding-top: 10px;
            padding-bottom: 70px;
    
        }
