<nav id="navbar-example2" class="navbar  .navbar-color-principal carrousel-moving"
    style="background-color: #000000;  padding-top: 20px;">
    <img src="../../assets/images/Logo Tecsys.svg">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link principal-buttons" style="background-color: black;" href="#servicos">Servicos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link principal-buttons" style="background-color: black;" href="#casesdesucesso">Cases de
                Sucesso</a>
        </li>

        <li class="nav-item">
            <a class="nav-link principal-buttons" style="background-color: black;" href="#sobrenos">sobre</a>
        </li>

        <li class="nav-item">
            <a class="nav-link principal-buttons" style="background-color: #FC5B00;"
                href="https://wa.me/message/YJOKIYRDVHCRK1">Solicitar Orcamento</a>
        </li>

    </ul>
</nav>


<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="../../assets/images/Imagens Rolagem Homepage.svg?auto=yes&bg=777&fg=555">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100"
                    src="../../assets/images/Imagens Rolagem Homepage v2.svg?auto=yes&bg=666&fg=444">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/Instalações Elétricas Carrosel.svg?auto=yes&bg=666&fg=444">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="../../assets/images/Group 323.svg?auto=yes&bg=666&fg=444">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/Automação Carrosel.svg?auto=yes&bg=666&fg=444">
            </div>

        </div>
        <a class="carousel-control-prev " style="position: absolute;" href="#carouselExampleControls" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" style="position: absolute; " href="#carouselExampleControls" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <div class="footer-principal" style="background-color: black;">
        <div class="image-in-footet">
            <img src="../../assets/images/Logo Wall.svg" width="100%;">
        </div>

    </div>

    <div style="padding-top: 5rem; background-color: #FC5B00;">

        <h4 class="nav-link font-padrao" id="servicos" style='margin-bottom: 5rem; text-align: center'>SERVIÇOS</h4>

        <div class="container">
            <div class="grid">
                <div class="row">
                    <div class="col-sm-12" style="display: flex; padding-right: 0px; padding-left: 0px;">
                        <div class="card-deck" style="margin-bottom: 5rem; margin-right: 0em; margin-left: 0rem;">
                            <div class="card card-servicos" style="margin-right: 2em; margin-left: 2em;">
                                <img class="card-img-top" src="../../assets/images/Símbolos9 - Site Tecsys 1.svg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title titulo-card">PROJETOS FOTOVOLTAICOS</h5>
                                    <p class="card-text ">- Projetos Fotovoltaicos. <br>
                                        - Homologação
                                    </p>

                                </div>
                            </div>
                            <div class="card card-servicos" style="margin-right: 2em; margin-left: 2em;">
                                <img class="card-img-top" src="../../assets/images/Símbolos8 - Site Tecsys 1.svg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title titulo-card">GESTÃO DE ENERGIA</h5>
                                    <p class="card-text">- Assessoria de Eficiência Energética <br>
                                        -Assessoria de Readequação Fotovoltaica</p>
                                </div>
                            </div>

                            <div class="card card-servicos" style="margin-right: 2em; margin-left: 2em;">
                                <img class="card-img-top" src="../../assets/images/Símbolos 5 - Site Tecsys 1.svg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title titulo-card">INSTALAÇÕES ELÉTRICAS</h5>

                                    <p class="card-text" >
                                        - Projetos de Instalações Elétricas 
                                    </p>
                                    <p class="card-text" >
                                        - Retrofit de Instalações Elétricas 
                                    </p>

                                    <p class="card-text" >
                                        - Projetos de Dimencionamento de Subestação 
                                    </p>
                                    <p class="card-text" >
                                        - Projetos de Cabeamento Estruturado 
                                    </p>
                                    <p class="card-text" >
                                        - Projeto de SPDA
                                    </p>

                                </div>
                            </div>
                            <br>
                        </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12" style="display: flex; padding-right: 0px; padding-left: 10%;">

                        <div class="card-deck" style="margin-bottom: 15rem; margin-right: 0em; margin-left: 0rem;">
                            <div class="card card-servicos" style="margin-right: 4em; margin-left: 4em;">
                                <img class="card-img-top" src="../../assets/images/Símbolos 7- Site Tecsys 1.svg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title titulo-card">Laudo</h5>
                                    <p class="card-text"> - Laudo de Inspeção Predial <br>
                                        - Laudo de Aterramento <br>
                                        - Laudo de PPCi <br>
                                        - Laudo de SPDA</p>

                                </div>
                            </div>
                            <div class="card card-servicos" style="margin-right: 4em; margin-left: 4rem;">
                                <img class="card-img-top" src="../../assets/images/Símbolos 6 - Site Tecsys 2.svg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title titulo-card">AUTOMAÇÃO</h5>
                                    <p class="card-text">- Automação Residencial <br>
                                        - Protótipos de Automação</p>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>



        </div>


    </div>
    <div style="padding-top: 5rem; background-color: black; padding-bottom: 2rem;">

        <h4 class="nav-link font-padrao" id="casesdesucesso" style='margin-bottom: 5rem; text-align: center'>CASES DE
            SUCESSO</h4>
        <h3 class="nav-link font-subtittle" style='margin-bottom: 5rem; text-align: center'>A Tecsys Jr. ao longo de sua
            <br> <br>
            história acumulou grandes números.
        </h3>

        <div>
            <img src="../../assets/images/Stats Numbers.svg" width="100%">
        </div>
        <div>
            <img src="../../assets/images/Component 1.svg" width="100%">
        </div>
        <div class="container" style=" width: 100%; text-align: center;">

            <div class="grid">
                <div class="row">
                    <div class="col-md-12">
                        <img style="text-align: start;" src="../../assets/images/Group 310.svg" width="100%">
                    </div>
                </div>
                <div class="row" style="margin-top: 120px;">


                    <div class="col-md-12">
                        <img style="text-align: start;" src="../../assets/images/Group 333.svg" width="100%">
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="button" class="principal-buttons fotter-font"
                            style="border: 50px; margin-top: 70px; border-radius: 15px; background-color: #FC5B00; width:90;height:10 ">
                            <a class="principal-buttons" href="https://wa.me/message/YJOKIYRDVHCRK1"
                                style="margin-left: 20px; margin-right: 20px;"> Portfólio Completo</a>
                        </button>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>


        </div>
        <div>

        </div>


    </div>

    <div style="background-color: #FC5B00;">
        <div class="principal-buttons fotter-font" style="background-color: #FC5B00;">
                            <p class="principal-buttons" id="sobrenos" style="text-align: center;"> Sobre nós</p>
                            <div class="container">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <img src="../../assets/images/sobrenos1.svg" width="100%">
                                        </div>
                                        <div class="col-md-4">
                                            <p>Tecsys Jr Engenharia Elétrica</p> 
                                            <p class="font-sobre">
                                                A Tecsys Engenharia Elétrica, foi a primeira empresa júnior de Engenharia Elétrica do estado do Ceará,
                                                foi fundada no dia 22 de outubro de 1997 por um grupo de alunos do curso de Engenharia Elétrica da 
                                                universidade federal do ceara (UFC) que buscavam uma melhor integração entre a universidade e o 
                                                mercado de trabalho. Desde então, a Tecsys ao longo de sua jornada possui um portfólio bastante variado 
                                                de projetos e serviços prestados e sempre prezando pela qualidade no serviço.  Em 2016 a empresa foi 
                                                federada na federação de empresas juniores do estado do ceará (Fejece) onde começou a integrar uma rede 
                                                com diversas outras empresas que trabalham em cooperação para buscar novas soluções para a sociedade.

                                               </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="font-sobre">
                                                Em 2016 também foi adotada a cultura Viking para a empresa, junto com essa cultura veio valores e compromissos 
                                                que a empresa carrega em seu dia a dia, a cultura Viking foi escolhida por ser voltada para conquistar, como era
                                                algo marcante do povo Viking, e a Tecsys busca essas conquistas. A empresa se orgulha de ter entregado +100 soluções
                                                para a sociedade, e ter ajudado mais de 2 mil familias e 25 empresas a solucionar seus problemas utilizando a Elétrica.
                                            </p>
                                        </div>
                                        <div class="col-sm-8">
                                            <img src="../../assets/images/sobrenos2.svg" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <div style="background-color:#000000;">
        <div class="principal-buttons fotter-font" style="margin-bottom: 30px;">
            <img src="../../assets/images/Cabeçalho Valores Vikings.svg" width="100%">
            
            <div class="card-group">
                <div class="card card-valores">
                  <img src="../../assets/images/2logo negocios 1.svg" width="100%" height="205">
                  <div class="card-body">
                    <h5 class="card-title card-titles-align-center">SER GUERREIRO</h5>
                    <p class="font-sobre">Superar desafios e ter vontade de fazer é o que nos move!.</p>
                    
                  </div>
                </div>
                <div class="card card-valores">
                  <img  src="../../assets/images/Símbolos 3 - Site Tecsys 1 (1).svg" width="100%" height="205">
                  <div class="card-body">
                    <h5 class="card-title card-titles-align-center">ZELAR PELO TESOURO</h5>
                    <p class="font-sobre">Oferecer serviços de qualidade e foco total nos nossos clientes!.</p>
                    
                  </div>
                </div>
                <div class="card card-valores">
                  <img class="card-img-top" src="../../assets/images/Símbolos perseverança - Site Tecsys 1.svg" width="100%" height="205">
                  <div class="card-body">
                    <h5 class="card-title card-titles-align-center">BUSCAR A GLÓRIA</h5>
                    <p class="font-sobre">Preservar a nossa história e trabalhar por nosso futuro. Garantir nossa continuidade e sempre buscar evoluir!</p>
                    
                  </div>
                </div>
                <div class="card card-valores">
                    <img class="card-img-top" src="../../assets/images/Símbolos equipe 10- Site Tecsys 1.svg" width="100%" height="205">
                    <div class="card-body" >
                      <h5 class="card-title card-titles-align-center">PROTEGER O TERRÍTÓRIO</h5>
                      <p class="font-sobre">Sentimento de dono e paixão pela empresa e por nosso trabalho!</p>
                      
                    </div>
                  </div>
                  <div class="card card-valores">
                    <img class="card-img-top" src="../../assets/images/Símbolos10 - Site Tecsys 1.svg" width="100%" height="205">
                    <div class="card-body">
                      <h5 class="card-title card-titles-align-center">APROVEITAR  A  JORNADA  </h5>
                      <p class="font-sobre">Aproveitar as oportunidades que vivenciamos com o movimento empresa júnior!</p>
                     
                    </div>
                  </div>
                  <div class="card card-valores">
                    <img class="card-img-top" src="../../assets/images/Símbolos10 - Site Tecsys 2.svg" width="100%" height="205">
                    <div class="card-body">
                      <h5 class="card-title card-titles-align-center">SER DIGNO</h5>
                      <p class="font-sobre">Ética e transparência regem nosso dia a dia!</p>
                     
                    </div>
                  </div>
              </div>




        </div>
    </div>

    <div style="display: block ;position: relative;">
        <div style="margin-right: 40px ; margin-left: 40px;">
            
            <img src="../../assets/images/Call to Action (1).svg" width="100%">
            <div class="div-class-button-footer">
                <p class="texto-footer">Contate-nos <br> Solicite já um orçamento! </p>
            </div>
            
            <div class="div-class-button-footer">
                <a class="texto-solicitar-orcamento" href="https://wa.me/message/YJOKIYRDVHCRK1" style="color: white; background-color: #FC5B00; border-radius: 30px;">
                    Solicitar Orçamento 
                </a>
            </div>

        </div>


    </div>



    <nav id="navbar-example3" class="navbar  .navbar-color-principal"
        style="background-color: #b4b4b4; margin-top: 40px;  padding-bottom: 25px; padding-top: 20px;">
        <img src="../../assets/images/Logo Tecsys.svg">

        <ul class="nav nav-pills">

            <li class="nav-item">
                <a class="nav-link principal-buttons" style="background-color: #b4b4b4;" href="#navbar-example2">Pagina
                    inicial</a>
            </li>

            <li class="nav-item">
                <a class="nav-link principal-buttons" style="background-color: #b4b4b4;" href="#servicos">Servicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link principal-buttons" style="background-color: #b4b4b4;" href="#casesdesucesso">Cases de
                    Sucesso</a>
            </li>

            <li class="nav-item">
                <a class="nav-link principal-buttons" style="background-color: #b4b4b4;" href="#sobrenos">sobre</a>
            </li>



        </ul>

    </nav>



    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #b4b4b4; padding-top: 20px;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->


        <nav id="navbar-example3" class="navbar  .navbar-color-principal"
            style="background-color: #b4b4b4; padding-bottom: 25px;">
            <P class="font-padrao"> Empresa da Universidade Federal do ceará <br> pertencente a UFC - Universidade <br>
                Federal do Ceará. </P>

            <nav class="nav flex-column" style="background-color: #b4b4b4; padding-bottom: 25px; padding-top: 20px;">
                <a class="nav-link font-padrao"  style="color: black;"> <img src="../../assets/images/Vector.svg"> (85) 9227-3423</a>
                <a class="nav-link font-padrao"  style="color: black;"> <img src="../../assets/images/EMAIL_icon.svg">
                    comercialtecsysjr@gmail.com</a>
                <a class="nav-link font-padrao" href="https://goo.gl/maps/Kdt2UtitQTRwPopy6" style="color: black;"> <img src="../../assets/images/pointmap.svg"> 
                    Tecsys Jr. - Pici, Fortaleza - CE- CE
                    
                </a>
            </nav>


        </nav>


    </nav>

    <nav id="navbar-example4" class="navbar  .navbar-color-principal"
        style="background-color: #b4b4b4; padding-bottom: 25px;">
        <P class="font-padrao"> Todos os direitos reservados. </P>

        <ul class="nav nav-pills">

            <li class="nav-item">
                <a class="nav-link principal-buttons icon-footer" style=" background-color: #FC5B00" href="https://wa.me/message/32YB2AWQDSNLD1"> <img
                        src="../../assets/images/wppimage.svg"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link principal-buttons icon-footer" style="background-color: #FC5B00;" href="https://www.facebook.com/TecsysJr"><img
                        src="../../assets/images/faceimage.svg"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link principal-buttons icon-footer" style="background-color: #FC5B00;" href="https://instagram.com/tecsys.jr?igshid=YmMyMTA2M2Y="><img
                        src="../../assets/images/instaimage.svg"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link principal-buttons icon-footer" style="background-color: #FC5B00;" href="https://www.linkedin.com/company/tecsys-jr./"><img
                        src="../../assets/images/linkedinimage.svg"></a>
            </li>



        </ul>

    </nav>

</div>