.navbar-color-principal {
    display: flex;
    background-color: black;

}

.principal-buttons {
    color: white;

}

.container {
    display: flex;
    /* or inline-flex */
}

.card-servicos {
    background-color: white;
    border-radius: 20px;
}
.card-valores{
    background-color: black;
    // margin-left: 1px;
    // margin-right: 1px;

}

.font-padrao {
    // font-style: normal; //caso queira deixar alterar o estilo da fonte
    // font-size: 2.5em; //caso queira alterar o tamanho da fonte
    // font-family: "Times New Roman" //caso queira mudar o tipo de fonte
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.font-subtittle {
    // font-style: normal; //caso queira deixar alterar o estilo da fonte
    // font-size: 2.5em; //caso queira alterar o tamanho da fonte
    // font-family: "Times New Roman" //caso queira mudar o tipo de fonte
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    color: #FFFFFF;
}

.titulo-card {
    color: rgb(7, 14, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.card-text {
    font-size: 15px;
    color: black;
    text-align: justify
}

.imagem-custom {
    display: inline-block;
    position: relative;
}

// #image {
//     width: 60em;
//     height: 60em;
//   }

figcaption {
    position: absolute;
    display: flex;
    // top: 145px;
    // height: 145px;
    // right: 500px;
    left: auto;
    // margin-bottom: 30px;

    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px black;
}

.icon-footer {
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.font-sobre{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: justify;
}

.card-titles-align-center{
    text-align: center;
}

.texto {
    position: absolute;
    top: 190px;
    /* right: 20px; */
    font-size: 40px;
    color: white;
    padding-left: 150px;
}

.texto2 {
    // border-radius: 50%;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    // box-shadow: 1px 1px 10px;
}

.texto-footer {
    position: absolute;
    // background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    top: 40px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}

.texto-solicitar-orcamento{
    position: absolute;
    // background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    top: 50px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}



.fotter-font {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.footer-principal {
    // margin-top: auto;
    // margin-bottom: auto;
    // margin-left: auto;
    // margin-right: auto;
    // display: flex;
    padding-top: 10px;
    padding-bottom: 70px;

}
.carrousel-moving{
    padding-bottom: 25px;
}
// Small devices (landscape phones, 576px and up)  ///////////////////////////////// CELULAR ////////////////////////
@media (min-width: 1px) {
    .texto-footer {
        position: absolute;
        color: #fff;
        text-align: center;
        top: 1px;
        // width: 345px;
        line-height: 30px;
        height: 30px;
    }

    .div-class-button-footer{
        margin-left: 50px;
    }
    .texto-solicitar-orcamento{
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 60px;
        // width: 220px;
        line-height: 30px;
        height: 30px;
        
    }
    .carrousel-moving{
        padding-bottom: 200px;
    }
    .footer-principal {
        // margin-top: auto;
        // margin-bottom: auto;
        // margin-left: auto;
        // margin-right: auto;
        // display: flex;
        padding-top: 300px;
        padding-bottom: 70px;
    
    }
}

// Medium devices (tablets, 755px and up)
@media (min-width: 70em) {

    .texto-footer {
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 120px;
        // width: 700px;
        line-height: 30px;
        height: 30px;
    }
    .div-class-button-footer{
        margin-left: 450px;
    }
    .carrousel-moving{
        padding-bottom: 25px;
    }
    .texto-solicitar-orcamento{
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 180px;
        width: 250px;
        line-height: 30px;
        height: 30px;   
    }
    .footer-principal {
        // margin-top: auto;
        // margin-bottom: auto;
        // margin-left: auto;
        // margin-right: auto;
        // display: flex;
        padding-top: 50px;
        padding-bottom: 70px;
    
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 89em) {
    .texto-footer {
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 100px;
        // width: 950px;
        line-height: 30px;
        height: 30px;
    }
    .div-class-button-footer{
        margin-left: 100px;
    }
    .carrousel-moving{
        padding-bottom: 25px;
    }
    .texto-solicitar-orcamento{
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 180px;
        width: 250px;
        line-height: 30px;
        height: 30px;
    }
    .footer-principal {
        // margin-top: auto;
        // margin-bottom: auto;
        // margin-left: auto;
        // margin-right: auto;
        // display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    
}

// Extra large devices (large desktops, 1200px and up) ///////////////////////////////// DESKTOP////////////////////////////////
@media (min-width: 92em) {
    .texto-footer {
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 180px;
        // width: 160px;
        line-height: 30px;
        height: 30px;
    }
    .div-class-button-footer{
        margin-left: 670px;
    }

    .texto-solicitar-orcamento{
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 250px;
        width: 250px;
        line-height: 30px;
        height: 30px;
    }
    .carrousel-moving{
        padding-bottom: 20px;
    }
    .footer-principal {
        // margin-top: auto;
        // margin-bottom: auto;
        // margin-left: auto;
        // margin-right: auto;
        // display: flex;
        padding-top: 10px;
        padding-bottom: 70px;
    
    }
}

@media (min-width: 110em) {
    .texto-footer {
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 180px;
        // width: 1170px;
        line-height: 30px;
        height: 30px;
    }
    .div-class-button-footer{
        margin-left: 760px;
    }
    .carrousel-moving{
        padding-bottom: 15px;
    }
    .texto-solicitar-orcamento{
        position: absolute;
        // background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        top: 250px;
        width: 250px;
        line-height: 30px;
        height: 30px;
    }
    .footer-principal {
        // margin-top: auto;
        // margin-bottom: auto;
        // margin-left: auto;
        // margin-right: auto;
        // display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
}

